{% extends 'base.html.twig' %}

{% block title %}Recherche de produits{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/product.css') }}">{% endblock %}
{% block body %}
    {% if products is defined and products is not empty %}
        <div class="row">
        <div class="card-group">
        {% for product in products %}
            <div class="card p-2 col-sm-4 mr-3">
                <h5 class="card-title text-center">{{ product.name }}</h5>
                <img class="cardImgTop img-fluid ml-4" src="{{ asset('uploads/products/'~product.picture) }}" alt="Card image cap">
                <div class="card-body p-2">
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Catégorie: {{ product.category }}</p>
                    <p class="card-text">Département: {{ product.department }}</p>
                    <div class="d-flex flex-row justify-content-between mt-2">
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-dark">Modifier</a>
                        {{ include('product/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    {% else %}
        <h1 class="text-center">Aucun résultat trouvé</h1>
        <div class="row">
            <div class="col-3 offset-4">
                <div class="no-result">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}