<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('faviconDuck.ico') }}" />
        <title>{% block title %}Le mauvais coin coin!{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
                <div class="d-flex flex-column align-items-center mx-auto">
                    <a class="navbar-brand brand text-center" href="/">Le Mauvais Coin Coin</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a href="{{ path('category_index') }}" class="nav-link">Catégories</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('department_index') }}" class="nav-link">Départements</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('product_index') }}" class="nav-link">Produits</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('product_new') }}">Créer un produit canard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('profile') }}">Mon Compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_logout') }}">Se Déconnecter</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('registration') }}">Inscription</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_login') }}">Se Connecter</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block flash %}
            <div class="row mt-5">
                <div class="mt-5 col-6 offset-3">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-5 col-6 offset-3 text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        {% endblock %}
            {% block content %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="admin">
                {% else %}
                    <div class="client">
                {% endif %}
                        <div class="container p-2 mt-5">
                            {% block body %}{% endblock %}
                        </div>
                {% if is_granted('ROLE_ADMIN') %}
                    </div>
                {% else %}
                    </div>
                {% endif %}
            {% endblock %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
